*{
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    font-size: 0.32rem;
}
a{
    text-decoration: none;
}
body,html,.wrap{
    width: 100%;
    height: 100%;
}
.wrap{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.header{
    width: 100%;
    height: 0.88rem;
    background: #393a3f;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header a{
    color:#fff;
    text-align: center;
}
.en{
    flex: 1;
}
.mark{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(2,2,2,.5);
}
.main{
    width: 80%;
    margin-left: 10%;
    margin-top:20%;
    height: 70%;
    background: #fff;
    border-radius: 0.2rem;
}
.banner{
    width: 2.69rem;
    height: 1rem;
    margin: 0 auto;
    padding-top:0.3rem;
}
.banner img{
    width: 100%;
}
.banner p{
    color:#3b4346;
    line-height: 2;
}
.info{
    width: 80%;
    margin-left: 10%;
    margin-top:0.8rem;
    border-bottom: 0.01rem solid #838987;
}
.info b{
    display: inline-block;
}
.info b img{
    width: 100%;
}
.info input{
    color:#d4d4d4;
    border:none; 
    outline: none;
    height: 0.5rem;
}
.btn{
    width: 80%;
    margin-left: 10%;
    margin-top: 0.8rem;
    background: #2fba77;
    border:none;
    border-radius: 0.05rem;
    color:#fff;
    height: 0.5rem;
    outline: none;
    cursor: pointer;
}